---
import Layout      from '../layouts/Layout.astro';
import FloatingIcons from '../components/FloatingIcons.astro';
import Nav         from '../components/Nav.astro';
import Hero        from '../components/Hero.astro';
import About       from '../components/About.astro';
import Skills      from '../components/Skills.astro';
import Projects    from '../components/Projects.astro';
import Education   from '../components/Education.astro';
import Contact     from '../components/Contact.astro';
import Footer      from '../components/Footer.astro';
---

<Layout>
  <FloatingIcons />
  <Nav />
  <main>
    <Hero />
    <About />
    <Skills />
    <Projects />
    <Education />
    <Contact />
  </main>
  <Footer />
</Layout>
